table.talks {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.1rem;
td {
  margin-left: 0;
  padding: 0 10px;
}}


.drop {
  cursor: pointer;
  display: block;
  margin-top: 0;
}

input[type="checkbox"]  {
 display: none; /* hide the checkboxes */
}

input +.drop +  div

{
  display:none;
  max-width: 600px;
}
.drop:after {
  content: '';
  text-align: right;
  float:right;
  color: $mid-grey;
  }
:checked  + .drop:after {
  content: '';
  text-align: right;
  float:right;
  color: $mid-grey;
  }
input:checked + .drop + div{
  display:block;
}
