table.talks {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.1rem;

td {
  margin-left: 0;
  padding: 0 10px;
}}


.drop {
  cursor: pointer;
  display: block;
  margin-top: 0;
}

input[type="checkbox"] {
 display: none;
 max-width: 600px;
}

input + .drop + div {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  max-width: 600px;
}

.drop:after {
  content: '+';
  text-align: right;
  float: right;
  color: $mid-grey;
}

:checked + .drop:after {
  content: '+';
  transform: rotate(45deg);
  text-align: right;
  float: right;
  color: $mid-grey;
}

input:checked + .drop + div{
  height: auto;
  visibility: visible;
  font-size: 1rem;
}
